version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
    groups:
      react-packages:
        patterns:
          - "react"
          - "react-dom"
      stylelint-packages:
        patterns:
          - "stylelint*"
      vitest-packages:
        patterns:
          - "vitest*"
          - "@vitest/*"
