$border-radius: 0.5rem;
$border-width: 0.125rem;

@mixin item {
  border-top: $border-width solid;
  border-bottom: $border-width solid;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

.departure-route {
  @include item;

  border-left: $border-width solid;
  border-bottom-left-radius: $border-radius;
  border-top-left-radius: $border-radius;
  justify-content: center;
  font-weight: 700;
}

.departure-destination {
  @include item;
}

.departure-time {
  @include item;

  border-right: $border-width solid;
  border-bottom-right-radius: $border-radius;
  border-top-right-radius: $border-radius;
  justify-content: end;
  text-wrap: nowrap;
}
