.departure-item {
  border: 0.125rem solid;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

.departure-route {
  border-right-width: 0;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  justify-content: center;
  font-weight: 700;
}

.departure-destination {
  border-left-width: 0;
  border-right-width: 0;
}

.departure-time {
  border-left-width: 0;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  justify-content: end;
  text-wrap: nowrap;
}
