.departure-route {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.departure-destination {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

.departure-time {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.5rem 1rem;
  text-wrap: nowrap;
  display: flex;
  justify-content: end;
  align-items: center;
}

