.stop-header {
  margin: 0;
}

article {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.scroll-container {
  height: 100%;
  flex: 1;
  min-height: 0;
  overflow-y: hidden;
}

.stop-departures {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  row-gap: 0.5em;
  margin: 0;
  padding: 0;
}
